:root {
  --bleu: #032135;
  --dorée: #bca742e2;
  --beige: #eae0ca;
  --bordeau: #2d0e0e;
  --marron: #2f2113;
  --marronclair: #7f5935;
}

.clicker-script-regular {
  font-family: 'Clicker Script', cursive;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  --res: 0.1vmin;
}

body {
  font-family: Arial, sans-serif;
  color: var(--font-color);
  background-color: var(--beige);
  margin: 0;
  padding: 0;
}

/* ------ barre de navigation ------ */

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--bleu);
  width: 100%;
  margin: 0;
}

.nav-container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header h1 {
  margin: 0;
  display: flex;
  align-items: center;
}

header h1 img {
  width: calc(200 * var(--res));
  height: auto;
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
  gap: calc(30 * var(--res));
  margin: 10px;
  padding: 0;
  font-size: calc(25 * var(--res));
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* ------ section accueil logo + presentation ------ */

.entete {
  width: auto;
  height: auto;
  text-align: center;
}

.entete h1 {
  width: 100%;
}

.entete h1 img {
  width: calc(500 * var(--res));
  height: auto;
  margin-bottom: 20px;
}

/* ------ section détails summary------ */

.accordion {
  border: 1px solid #ccc;
  width: 100%;
  margin: 20px 0;
}
.summary {
  color: white;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  background: var(--bleu);
  display: flex;
  justify-content: center;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 10px;
}

.accordion.active .content {
  max-height: 1000px;
  padding: 10px;
}

/* ------ section Qui sommes-nous ? ------ */

#presentation {
  background-color: var(--bleu);
}

.createurs {
  display: grid;
  grid-template-columns: calc(300 * var(--res)) auto 1fr;
  grid-template-rows: auto auto;
  padding: 3%;
  gap: 3%;
}

.pdc {
  grid-area: 1 / 1 / 3 / 2;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdc img {
  width: 100%;
  height: auto;
  border-radius: 50px;
  border: 3px solid var(--beige);
}

.p1 {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 20px;
  grid-area: 1 / 2 / 2 / 3;
  font-size: calc(30 * var(--res));
  display: flex;
  justify-content: center;
}

.p2 {
  color: white;
  grid-area: 2 / 2 / 3 / 3;
  font-size: calc(30 * var(--res));
  line-height: 1.8;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px;
}

/* ------ section Où sommes-nous ? ------ */

#localisation {
  background-color: var(--bleu);
  padding: 30px;
}

.position {
  padding: 3%;
  gap: 3%;
}

.carte {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carte iframe {
  border-radius: 50px;
}

.n1 {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 20px;
  font-size: calc(50 * var(--res));
  align-items: center;
  justify-content: center;
  text-align: center;
}

.n2 {
  color: white;
  font-size: calc(30 * var(--res));
  line-height: 1.8;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px;
}

/* ------ section catalogue ------ */

#noscreations {
  background-color: var(--bleu);
  padding: 30px;
  border-bottom: 3px solid var(--dorée);
}

.nc {
  background-color: var(--marron);
  border: 3px solid var(--dorée);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  gap: calc(30 * var(--res));
}

.nc h2 {
  font-family: 'Clicker Script', cursive;
  color: white;
  font-size: calc(120 * var(--res));
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
  text-underline-offset: 20px;
  /* text-shadow: 3px 0px 0px #938e63; */
}

.nci {
  color: white;
  display: flex;
  justify-content: space-around;
  gap: calc(30 * var(--res));
  align-items: center;
  text-align: center;
}

.nci h3,
.nci p {
  color: black;
  font-size: calc(30 * var(--res));
  padding: 20px;
  border-radius: 25px;
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
}

.nci .p1 {
  background-image: url(images/robot\ lampe.jpg);
  background-size: cover;
  background-position: center;
  width: calc(400 * var(--res));
  height: calc(400 * var(--res));
  border: 2px solid var(--beige);
  border-radius: 25px;
}

/*  separation */

.separation {
  background-color: var(--marron);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separation img {
  width: calc(500 * var(--res));
}

/* ------ section Décoration Extérieure ------ */

#noscreations2 {
  background-color: var(--bleu);
  padding: 30px;
  border-top: 3px solid var(--dorée);
}

.nce {
  color: white;
  display: flex;
  justify-content: space-around;
  gap: calc(30 * var(--res));
  align-items: center;
  text-align: center;
}

.nce h3,
.nce p {
  color: black;
  font-size: calc(30 * var(--res));
  padding: 20px;
  border-radius: 25px;
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
}

.nce .e2 {
  background-image: url(images/mouton.jpg);
  background-size: cover;
  background-position: center;
  width: calc(400 * var(--res));
  height: calc(400 * var(--res));
  border: 2px solid var(--beige);
  border-radius: 25px;
}
